doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | NOODASIM

    body
				nav         
				    a(href="/")  HOME 
				    a(href="/saved")  SAVED
				    a(href="/addmember")  ADD 
				    a(href="/search")  Edit/Delete
				    a(href="/logout") LOGOUT

		form(method="" action="") 
        input(type="text" placeholder="search by name" name="name")

		.searchedBox
        if(findpeople) 
            ul     
                li 
                    form(method="POST" action="/search")
                        input(type="text" name="memberName" value=findpeople.name)

                        label(for="week") choose a day of meeting: 
                        select(name="dayOfWeek" id="week" required)
                            option(value=findpeople.dayOfweek) #{findpeople.dayOfweek} 
                            option(value="MON") MON 
                            option(value="TUE") TUE
                            option(value="WED") WED
                            option(value="THU") THU
                            option(value="FRI") FRI
                            option(value="SAT") SAT 
                            option(value="SUN") SUN

                        label(for="memberEmail") Email:
                        input(type="mail" name="email" id="memberEmail" placeholder="full email address" value=findpeople.email)
                
                        label(for="memberInning") start at:
                        input(type="number" id="memberInning" name="nthMeeting" scale=1 max=10 min=1 placeholder="inning" value=1 required)

                        label(for="memberAbsence") number of Absence:
                        input(type="number" id="memberAbsence" name="numberOfabsence" scale=1 max=10 min=1 placeholder="number of absence" value=findpeople.numbOfAbsence required)
                
                        label(for="memberEntryFee") Entry fee:
                        input(type="number" name="startFee" min=0 value=findpeople.startFee placeholder="entry fee" id="memberEntryFee" required)

                        input(type="submit" value="Edit") 

                    a(href=`/delete${findpeople.phoneNumb}`)  
                        button Delete 
        else 
            h1 not found